p{
    border: 1px solid;
    width: 70px;
    height: 70px;
    background-color: blue;
    color: azure;
    font-size: 50px;
    text-align: center;
    margin-left: 50px;
}
div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}