h1{
    top: 0;
    text-align: center;
    font-size: 50px;
    color: azure;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 25px;
    box-shadow: 5px 5px white;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 100px;
}
.img{
    display: flex;
    justify-content: space-between;
}
.part1{
    background-color: black;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    
    height: 360px;
}
.part2{
   margin-top: 350px;
   display: flex;
}
.formation{
    
    background-color:rgb(146, 248, 255);
    margin-left: 100px;
    border-radius: 25px;
    padding: 20px;
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 5px 5px gray;
    position: sticky;
    top: 370px;
}

a{
    display: block;
}
.hhh{
    border: 1px solid;
}
.tt{
    top: 0;;
}