.head{
    width: 100px;
    height: 100px;
    background-color:blue;
    border-radius: 50px 50px 0 0;
    margin-left: 300px;

}
.eyesright{
    background-color:azure;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    position: sticky;
    top: 60px;
    margin-left: 10px;
}
.eyesleft{
    background-color:white;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    position: sticky;
    top: 60px;
    margin-left: 75px;
}
.bodyy{
    display: flex;
}
.body{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    margin-left: 300px;
    background-color:blue;
    border-radius: 0 0 15px 15px;
}
.handleft{
    width: 25px;
    height: 70px;
    background-color:blue;
    margin-left: 205px;
    position: absolute;
    left: 65px;
    top: 120px;
    border-radius: 50px;
}
.handright{
    width: 25px;
    height: 70px;
    background-color:blue;
    margin-left: 355px;
    position: absolute;
    left: 65px;
    top: 120px;
    border-radius: 50px;
}
footer{
    display: flex;
}
.p1{
    width: 30px;
    height: 90px;
    background-color:blue;
    border-radius: 50px;
    margin-left: 360px;
    position: absolute;
    top: 210px;
}
.p2{
    width: 30px;
    height: 90px;
    background-color:blue;
    border-radius: 50px;
    margin-left: 310px;
    position: absolute;
    top: 210px;
}