.part1{
    display: flex;
    justify-content: space-between;
}
.d1{
    width: 200px;
    height: 200px;
    border: 1px solid;
    background-color:yellow;
    margin-bottom: 50px;
}
.d2{
    width: 200px;
    height: 200px;
    border: 1px solid;
    background-color:blue;
    margin-bottom: 50px;

}
.d3{
    width: 200px;
    height: 200px;
    border: 1px solid;
    background-color:green;
}
.d4{
    width: 200px;
    height: 200px;
    border: 1px solid;
    background-color:red;
}